<div class="home-main">
    <%= form_with url: rooms_result_path, class: "main-search" do |f| %>
      <h3 class="main-message">Potepan Shareでまだ体験したことのない旅をしよう</h3>
      <div class="search-buttons">
        <%= f.label :addres, "エリア" %>
        <%= f.text_field :address, placeholder: "東京" %>
        <%= f.submit "探す", class: "search-button" %>
      </div>
   <% end %>
</div>

<div class="home-sub">
  <div class="recommendation">
    <h2>おすすめ</h2>
    <div class="recommendation-container">
      <div class="recommendation-container-itmes">
        <span class="prefecture">東京</span>
        <a href=""><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt=""></a>
      </div>
      <div class="recommendation-container-itmes">
        <span class="prefecture">大阪</span>
        <a href=""><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt=""></a>
      </div>
      <div class="recommendation-container-itmes">
        <span class="prefecture">京都</span>
        <a href=""><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt=""></a>
      </div>
      <div class="recommendation-container-itmes">
        <span class="prefecture">札幌</span>
        <a href=""><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt=""></a>
      </div>
    </div>
  </div>

</div>


<%# <i class="fas fa-map-marker-alt"></i> %>